@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ebf1ff;
  overflow-x: hidden;
}
p {
  font-size: 18px;
}
.summary-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #c8c7ff;
  width: 290px;
  height: 55px;
  border-radius: .5em;
  padding: 15px;
  margin-bottom: 15px;
}
.summary-boxes p {
  color: hsla(224, 30%, 27%, 0.504);
  font-weight: 800;

}
.summary-boxes p strong {
  color: hsl(224, 30%, 27%);
}
.summary-boxes h5 {
  min-width: 53px;
  margin-left: -110px;
}
@media (max-width: 760px) {
  body {
    height: auto;
  }
}
